<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Izin Laptop</title>
<link th:href="@{/css/siimple.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="row">
	<h1 class="col-12 bg-color-header logo" th:fragment="header"><b>Izin Bawa Laptop</b><a th:if="${akunLogin.role != null}" class="right" style="font-size: 0.6em; color: white;" th:href="${'/logout'}" th:text="${akunLogin.role}+'('+${akunLogin.username}+') SignOut'"></a>
	</h1>		
	</div>
	<div th:fragment="script">
	<script type="text/javascript" th:src="@{/js/jquery-2.1.1.min.js}" th:inline="javascript"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}" th:inline="javascript"></script>
	</div>
</body>
</html>